@page "/admin"
@implements IAsyncDisposable
@using Microsoft.AspNetCore.SignalR.Client

<h1>Admin</h1>
<MudButton FullWidth="true"
           Variant="Variant.Filled"
           OnClick="@(() => SendFruit("guava.png", "Guava"))"
           Style="font-size:30px;background-color:#4CAF50;color:lightpink">
    Guava
</MudButton>
<br />
<br />
<MudButton FullWidth="true"
           Variant="Variant.Filled"
           OnClick="@(() => SendFruit("bananas.png", "Bananas"))"
           Style="font-size:30px;background-color:yellow;color:black">
    Bananas
</MudButton>
<br />
<br />
<MudButton FullWidth="true"
           Variant="Variant.Filled"
           OnClick="@(() => SendFruit("watermelon.png","Watermelon"))"
           Style="font-size:30px;background-color:#ff6057;color:lawngreen">
    Watermelon
</MudButton>
<br />
<br />
<MudButton FullWidth="true"
           Variant="Variant.Filled"
           OnClick="@(() => SendFruit("orange.png", "Orange"))"
           Style="font-size:30px;background-color:darkorange;color:black">
    Orange
</MudButton>
<br />
<br />
<MudButton FullWidth="true"
           Variant="Variant.Filled"
           OnClick="@(() => SendFruit("apple.png", "Apple"))"
           Style="font-size:30px;background-color:red;color:mediumspringgreen">
    Apple
</MudButton>
<br />
<br />
<div>
    <MudStack Spacing="1" Row="true">
        <MudTextField Label="Set Rotation"
                      Style="font-size:40px;"
                      OnKeyUp="@(e => {if(e.Key == "Enter"|| e.Code == "NumpadEnter"){SetColumn();}})"
                      @bind-Value="Column"
                      Variant="Variant.Outlined"></MudTextField>

        <MudTextField Label="Set Size"
                      Style="font-size:40px;"
                  OnKeyUp="@(e => {if(e.Key == "Enter"|| e.Code == "NumpadEnter"){SetSize();}})"
                      @bind-Value="Size"
                      Variant="Variant.Outlined"></MudTextField>
    </MudStack>

</div>
@code {
    HubConnection hub;
    string Column = "0";
    string Size = "100";

    protected async override void OnInitialized()
    {
        hub = new HubConnectionBuilder()
        .WithUrl("https://microsoft-chat.azurewebsites.net/chat")
        .Build();

        hub.On<string, string>(nameof(SendFruit), (source, name) =>
        {
            Console.WriteLine($"{source} {name}");
        });

        await hub.StartAsync();
    }

    async void SetColumn()
    {
        await hub.SendAsync(nameof(SendFruit), "column", Column);
    }

    async void SetSize()
    {
        await hub.SendAsync(nameof(SendFruit), "size", Size);
    }

    private async void SendFruit(string name, string fruit)
    {  
        await hub.SendAsync(nameof(SendFruit), name, fruit);
    }

    public async ValueTask DisposeAsync()
    {
        await hub.DisposeAsync();
    }
}
