@page "/"
@using Chat.Core.ViewModel
@inject HomeViewModel ViewModel;
@using System.Collections.ObjectModel
@inherits Base

<div>
    <MudStack Spacing="1" Row="true">
        <MudTextField @bind-Value="ViewModel.Name"
                      Label="Name"
                      FullWidth="false"
                      Style="font-size:40px; color:#304ffe;"
                      Variant="Variant.Outlined"></MudTextField>
        <!--MudTextField Label="Message"
                      Style="font-size:40px;"
                      OnKeyUp="@(e => {if(e.Key == "Enter"|| e.Code == "NumpadEnter"){ViewModel.Broadcast();}})"
                      @bind-Value="ViewModel.Message"
                      Variant="Variant.Outlined"></MudTextField-->
        <MudTextField Label="Test"
                      Style="font-size:40px;"
                      OnKeyUp="@(e => test = test = e.Code + " " + e.Key )"
                      @bind-Value="ViewModel.Message"
                      Variant="Variant.Outlined"></MudTextField>
    </MudStack>

</div>
<br />
<p>@test</p>
<div>
    @foreach (var message in ViewModel.Messages)
    {
        <MudPaper Class="pa-0 ma-0" Elevation="3">
            <MudCardContent>
                <MudStack Spacing="1" Row="true">
                    <MudText 
                        Typo="Typo.body1"
                        Color="Color.Primary"
                        Style="font-size:40px;">@message.Name</MudText>
                    <MudText 
                        Typo="Typo.body1"
                        Style="font-size:40px; margin-left:10px;">@message.Body</MudText>
                </MudStack>
            </MudCardContent>
        </MudPaper>
        <br />
    }
</div>



@code {
    string test;
    protected override void OnInitialized() => SetViewModel(ViewModel); }